@model IEnumerable<AssignmentManagementSystem.Models.Task>
    @{
    ViewData["Title"] = "Index";
    }
    @if (ViewBag.msg != "")
{
    <script>alert("@ViewBag.msg");</script>
}


    <h1>Tasks</h1>

    <p><a asp-controller="Tasks" asp-action="CreateTask">Create Task</a></p>


    <table class="table table-striped">
        <tr>
            <th>Task ID</th>
            <th>Assignment ID</th>
            <th>User ID</th>
            <th>Submission Date</th>
            <th>Submit Status</th>
        </tr>
        @foreach (var singledatarow in Model)
    {
        <tr>
            <td>@singledatarow.TaskId</td>
            <td>@singledatarow.Assignment.AssignmentName</td>
            <td>@singledatarow.Users.lastName</td>
            <td>@singledatarow.SubmissionDate</td>
            <td>@singledatarow.SubmitStatus</td>
        </tr>
    }

    </table>
