@model IEnumerable<AssignmentManagementSystem.Models.TeamAssignment>
    @{
    ViewData["Title"] = "Index";
    }
    @if (ViewBag.msg != "")
{
    <script>alert("@ViewBag.msg");</script>
}


    <h1>Tasks</h1>

    <p><a asp-controller="Tasks" asp-action="CreateTask">Create Task</a></p>
        <table class="table table-striped">
            <tr>
                @*<th>Task ID</th>*@
                <th>Team Assignment ID</th>
                <th>Assignment ID</th>
                <th>Member 1</th>
                <th>Member 2</th>
                <th>Member 3</th>
                <th>Member 4</th>
                <th>Action</th>
            </tr>
            @foreach (var singledatarow in Model)
            {
                <tr>
                    @*<td>@singledatarow.TaskId</td>*@
                    <td>@singledatarow.TeamAssignmentId</td>
                    <td>@singledatarow.AssignmentId</td>
                    <td>@singledatarow.Teammate1</td>
                    <td>@singledatarow.Teammate2</td>
                    <td>@singledatarow.Teammate3</td>
                    <td>@singledatarow.Teammate4</td>
                    <td>
                        <a asp-action="AddTask" asp-route-id="@singledatarow.TeamAssignmentId">Add Task</a>
                        @*<a asp-action="Edit" asp-route-id="@singledatarow.TaskId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@singledatarow.TaskId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@singledatarow.TaskId">Delete</a>*@
                    </td>
                </tr>
            }
        </table>